pipeline/Increamental_Ingestion.json
{
	"name": "Increamental_Ingestion",
	"properties": {
		"activities": [
			{
				"name": "get_cdc_timestamp",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "DS_last_cdc",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Set_last_update_variable",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "get_cdc_timestamp",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "last_update",
					"value": {
						"value": "@activity('get_cdc_timestamp').output.firstRow.cdc_timestamp",
						"type": "Expression"
					}
				}
			},
			{
				"name": "total_rows",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Set_last_update_variable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "LS_Database",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "SELECT count(*) as total_count\nFROM @{pipeline().parameters.Schema}.@{pipeline().parameters.Table}\nWHERE last_updated > '@{if(\n    empty(pipeline().parameters.backdate),\n    variables('last_update'),\n    pipeline().parameters.backdate\n)}'",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "if  new rows",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "total_rows",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('total_rows').output.resultSets[0].rows[0].total_count, 0)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Load",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "SELECT *\nFROM @{pipeline().parameters.Schema}.@{pipeline().parameters.Table}\nWHERE last_updated > '@{if(\n    empty(pipeline().parameters.backdate),\n    variables('last_update'),\n    pipeline().parameters.backdate\n)}'",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings",
										"copyBehavior": "PreserveHierarchy"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_sql",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "DS_Parquet",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "change_cdc",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "MAX_CDC",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"additionalColumns": [
										{
											"name": "cdc_timestamp",
											"value": {
												"value": "@activity('MAX_CDC').output.resultSets[0].rows[0].cdc_timestamp",
												"type": "Expression"
											}
										}
									],
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings",
										"copyBehavior": "MergeFiles"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "DS_Empty_json",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "DS_last_cdc",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "MAX_CDC",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "Load",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "LS_Database",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "select max(last_updated) as cdc_timestamp from @{pipeline().parameters.Schema}.@{pipeline().parameters.Table}",
											"type": "Expression"
										}
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"Schema": {
				"type": "string",
				"defaultValue": "source"
			},
			"Table": {
				"type": "string",
				"defaultValue": "orders"
			},
			"backdate": {
				"type": "string"
			}
		},
		"variables": {
			"last_update": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-12-27T16:32:38Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}